<form action="" method="get">
  <div class="zip-code-form">
    <label for="zip">Zip Code: </label>
    <input type="text" name="zip" id="zip" required />
  </div>

  <div class="zip-code-form">
    <input type="radio" name="unit-of-measurement" id="fahrenheit" checked />
    <label for="zip">Fahrenheit</label>
  </div>

  <div class="zip-code-form">
    <input type="radio" name="unit-of-measurement" id="celsius"/>
    <label for="zip">Celsius</label>
  </div>

  <div class="zip-code-form">
    <input type="submit" value="Search " id="search" />
  </div>
</form>
