body {
  font-family: Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F0FFFF;
}

form.zip-code-form>div {
  padding-bottom: 10px;
}

.banner img {
  max-height: 200px;
}

#location {
  font-size: 1.5em;
  border: none;
  border-radius: 20px;
  height: 2rem;
}

h1 {
  font-weight: 550;
}

.now {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  width: 800px;
}

.now .top {
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
}

.now .left {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

.now .left .large {
  display: flex;
  height: 120px;
  font-size: 120px;
  align-items: center;
}

.now .left .large .icon {
  height: 100%;
  width: auto;
}

.now .left .high-low {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  width: 250px;
}

.now .right {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.hourly {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 800px;
}

.hourly .top {
  max-height: 2rem;
}

.hourly .hours {
  display: flex;
  justify-content: space-between;
}

.hour {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
}

.week {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  width: 800px;
}

.week .top {
  grid-column: 1;
  grid-row: 1;
}

.week .days {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.week .day {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}

.day .icon-and-temps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-width: 200px;
}

.hourly img.icon {
  height: auto;
  width: 100%;
}

.week img.icon {
  height: 100%;
  width: auto;
}
